/* INDIVIDUAL TAG RESETS */
a {
    text-decoration: none;
    color:  #59595B;
}

img {
    outline: none;
    display: block;
    border: 0;
}

form {
    margin: 0;
}

input.textfield {
    border:1px solid #000000
}

ol, ul {
    list-style: none;
    font: 11px verdana, arial, sans-serif;
    margin-top:0;
    margin-bottom:0px
}

p {
    font: 11px verdana, arial, sans-serif;
}

xml {
    width: 0;
    height: 0;
    display: none;
}

/* @GLOBAL
/* ---------------------------------------- */

body {
    background-color: #ffffff;
    color: #000000;
    font: 11px verdana, arial, sans-serif;
    margin:             auto;
    padding:            0px;
}

/* @PAGE CONTAINERS
/* ---------------------------------------- */

div#wrapper {
    margin: 20px auto 0;
    padding-bottom: 20px;
    width: 728px;
}

div#pageheader {}

div#pagefooter {}

div#main-content-wrapper {}


/* @BREADCRUMB
/* ---------------------------------------- */

div#bc_wrapper {
    padding-top:5px;
    padding-bottom:5px;
}

div#bread_crumb{
    padding-bottom:5px;
}

div#bread_crumb_cat {
    font-size: 10px;
    color: #000;
    font-weight:bold;
}

div#bread_crumb_cat a {
    font-weight:bold;
    color: #CC0000;
    text-decoration:none;
}

div#bread_crumb_cat a:hover {
    color: #AF0000;
}

div#bread_crumb_loc {
    font-size: 10px;
    padding-top:2px;
    color: #000;
    font-weight:bold;
}

div#bread_crumb_loc a {
    font-weight:bold;
    color: #CC0000;
    text-decoration:none;
}

div#bread_crumb_loc a:hover {
    color: #AF0000;
}

/* @PRODUCT PAGE - LOCATION INFO COLUMN
/* ---------------------------------------- */

div#product_title {
    font-size: 14px;
    font-weight: bold;
    padding-bottom:10px;
}

div#leftcol {
    float:left;
    width:274px;
    background-color:#E0E0E0;
}

div#etailers_container { padding-bottom:10px; }

div#etailers_title {
    background-color: #B8B8B8;
}

div#etailers_footer {
    background-color: #B8B8B8;
    padding-top:2px;
    padding-bottom:2px;
    width:274px;
    font-size:10px;
}

div#etailers_title_txt{
    padding-left:20px;
    font-size:15px;
    font-weight:bold;
    padding-top:2px;
    padding-bottom:2px;
    color:#000;
}

div#elist_container {
    border-left:1px solid #B8B8B8;
    border-right:1px solid #B8B8B8;
    height:200px;
    overflow:auto;
    position:relative;
    width:272px;
    background-color:#FFFFFF;
}


table#etailer_listings{
    width:255px !important; /*moz width*/
    width:265px; /*IE width*/
    padding:5px;
    border-collapse:collapse;
}

td.etailer_logo_img {
    padding-top:5px;
    padding-bottom:5px;
    padding-left:5px;
    width:100%;
}

td.etailer_logo_txt {
    padding-top:5px;
    padding-bottom:5px;
    padding-left:5px;
    width:100%;
}

tr.etailer_listing {
    border-bottom:1px dashed #000000;
}

td.etailer_listing  {
    text-align:right;
    padding-top:5px;
    padding-bottom:5px;
    padding-right:5px;
}

div#etailers_buy_now_button{
    float:right;
}

.buy_now_button {
    border: 0;
}

.buy_now_button a {
    border: 2px outset rgb(204, 204, 204);
    margin: 0pt;
    padding: 4px;
    display: block;
    outline-color: -moz-use-text-color;
    outline-style: none;
    outline-width: medium;
    width: 80px;
    line-height: 10px;
    text-align: center;
    font-family: Verdana,Geneva,sans-serif;
    font-size: 11px;
    font-weight: bold;
    text-decoration: none;
    color: #FFF;
    background-color: #2B1D0F;
    font-style: normal;
}

.buy_now_button a:hover {background-color: #6C4926;}

.buy_now_button a:active {
    border-style: inset;
    outline-color: -moz-use-text-color;
    outline-style: none;
    outline-width: medium;
    background-color: #6C4926;
}

div#locs_container {}

div#locs_title {
    background-color: #A0A0A0;
}

div#locs_footer {
    background-color: #A0A0A0;
    padding-top:2px;
    padding-bottom:2px;
    width:274px;
    font-size:10px;
}

div#loclist_title{
    padding-left:20px;
    font-size:15px;
    font-weight:bold;
    padding-top:2px;
    padding-bottom:2px;
    color:#000;
}

div#loclist_container {
    border-left:1px solid #A0A0A0;
    border-right:1px solid #A0A0A0;
    background-color:#FFFFFF;
}

div#poi_header{
    padding-left:20px;
    font-size:13px;
    font-weight:bold;
    padding-top:2px;
    padding-bottom:2px;
    color:#000;
    background-color:#A0A0A0;
}


div#loc_listings{}

div#loc_info {
    border-bottom:1px dashed #000000;
    padding-bottom:5px;
    padding-top:5px;
}

div#loc_title {
    font-weight:bold;
    font-size:12px;
}

div#loc_data {
    font-size:11px;
}

div#near_by_box{
    padding-top:10px;
    padding-bottom:10px;
}

div#near_by_cities {
    background-color: #C8C8C8;
    padding-left:7px;
    padding-right:7px;
    padding-bottom:15px;
}

div#near_by_postalcodes {
    background-color: #C8C8C8;
    padding-left:7px;
    padding-right:7px;
    padding-bottom:15px;
}

div#near_by_title {
    font-size:12px;
    font-weight:bold;
    padding-top:5px;
    padding-bottom:2px;
    text-align:center;
}

div#triangle_up {
    float:right;
    width: 0;
    height: 0;
    border-bottom: 10px solid #283A0D;
    border-top: 0px solid #ABAE94; 
    border-left: 5px solid #ABAE94;
    border-right: 5px solid #ABAE94;
    margin-right:20px;
    margin-top:6px;
}

div#triangle_dn {
    float:right;
    width: 0;
    height: 0;
    border-bottom: 0px solid #ABAE94;
    border-top: 10px solid #283A0D;
    border-left: 5px solid #ABAE94;
    border-right: 5px solid #ABAE94;
    margin-right:20px;
}

.box_shadow {
    -moz-box-shadow: 1px 2px 4px #796C5C; /* Firefox F3.5+ */
    -webkit-box-shadow: 1px 2px 4px #796C5C; /* Safari3.0+, Chrome */
    box-shadow: 1px 2px 4px #796C5C; /* Opera 10.5, IE 9.0 */
    filter:  progid:DXImageTransform.Microsoft.dropshadow(OffX=0px, OffY=0px, Color='#796C5C'); /* IE6, IE7 */
    -ms-filter: "progid:DXImageTransform.Microsoft.dropshadow(OffX=0px, OffY=0px, Color='#796C5C')"; /* IE8 */
}

/* @UTILITIES/ICON - BAR
/* ---------------------------------------- */

div#icon_bar {
    padding-bottom:10px;
}

div#print_page {
    float: left;
    padding-right: 10px;
}

div#email_page {
    float: left;
    white-space: nowrap;
    padding-right: 10px;
}

div#link_page {
    float: left;
    white-space: nowrap;
    padding-right: 10px;
}

div#share_page {
    float: left;
    white-space: nowrap;
    padding-right: 10px;
    padding-top: 5px;
}

div#icon_bar .title {
    font-size: large;
    font-weight: bold;
    padding-left: 3px;
}

div#icon_bar .links {
    font-size: 11px;
    text-align: right;
    vertical-align: middle;
    padding-right: 3px;
    text-decoration: none;
}


div#icon_bar a.links {
    text-decoration: none;
    white-space: nowrap;
    padding-left: 0.75em;
}

div#icon_bar a.links img {
    vertical-align: middle;
}

/* @"SOCIAL" DIV
/* ---------------------------------------- */

div#social{
    background: #fff;
    border: 1px solid #000;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10px;
    font-weight: bold;
    height:250px;
    line-height: 14px;
    padding: 5px;
    position: absolute;
    width: 170px;
    z-index:100000;
}

div#social a{
    color: #000;
}

div#social .share_left{
    float: left;
    width: 85px;
}

div#social .share_left ul{
    list-style-type:none;
    margin-left: 0;
    padding: 0;
    text-align: left;
}

div#social .share_left li{
    padding-top:2px;
    padding-bottom:2px;
}

div#social .share_right{
    float: left;
    list-style-type:none;
    margin-left: 0;
    padding: 0;
    text-align: left;
    width: 85px;
}

div#social .share_right ul{
    list-style-type:none;
    margin-left: 0;
    padding: 0;
    text-align: left;
}

div#social .share_right li{
    padding-top:2px;
    padding-bottom:2px;
}

/* @PRODUCT PAGE - PRODUCT INFO COLUMN
/* ---------------------------------------- */

div#rightcol {
    float:left;
    width:444px !important; /*moz width*/
    width:454px; /*IE width*/
    padding-left: 10px;
    padding-bottom: 10px;
    height: auto;
}

div#cat_title {
    color:#000;
    font-weight:bold;
    font-size:14px;
    text-transform:uppercase;
}

div#product_detail_title {
    font-weight:bold;
    font-size:18px;
    color:#000;
    padding-top:10px;
    text-transform:uppercase;
}

div#product_detail_title_loc {
    font-weight:bold;
    font-size:16px;
    padding-left:10px;
    color:#808080;
    text-transform:uppercase;
}

div#product_details {
    padding-top:10px;
    padding-bottom:10px;
}

div#product_description {
    float:left;
    padding-right:10px;
}

div#product_image {
    float:right;
}

div#corporate_blurb{
    padding-top:5px;
    padding-top:15px;
    padding-bottom:15px;
    padding-left: 20px;
    padding-right:10px;
    margin-left:-10px;
}

/* @INDEX PAGES
/* ---------------------------------------- */
div#plist {
    padding-bottom:10px;
    padding-left:10px;
}

div#p_link {
    font-size: 12px;
    color: #000;
}

div#p_link a {
    text-decoration:none;
    color: #000;
}

div#p_link a:hover {
    text-decoration:underline;
}

div#clist {}

div#clist1 {
    padding-bottom:10px;
}

div#c1_title {
    font-size: 14px;
    font-weight: bold;
    color: #000;
    padding-bottom: 5px;
}
    
div#clist2 {
    padding-left:10px;
}

div#c2_title {
    font-size: 13px;
    font-weight: bold;
    color: #000;
    padding-bottom: 5px;
}

div#clist3 {
    padding-left:10px;
}

div#c3_title {
    font-size: 12px;
    font-weight: bold;
    color: #000;
    padding-bottom: 5px;
}

div#cntry {
    padding-top:10px;
    padding-bottom:10px;
}

div#cntrylist {
    padding-left:10px;
}

div#cntry_title {
  font-size: 12px;
  font-weight: bold;
  color: #000;
}

div#alist {
    float:left;
    padding-top:10px;
}

div#alink {
    font-size: 12px;
    color: #000;
    padding-left:10px;
}

div#alink a {
    text-decoration:none;
    color: #000;
}

div#alink a:hover {
    text-decoration:underline;
}

div#atitle {
    font-size: 12px;
    font-weight: bold;
    color: #000;
}

div#blist {
    padding-top: 10px;
    padding-left: 50px;
    float:left;
}

div#blink {
    font-size: 12px;
    color: #000;
    padding-left:10px;
}

div#blink a {
    text-decoration:none;
    color: #000;
}

div#blink a:hover {
    text-decoration:underline;
}

div#btitle {
    font-size: 12px;
    font-weight: bold;
    color: #000;
}

/* @ALERT/ERROR MESSAGES
/* ---------------------------------------- */

div#err_msg {
    padding-top:10px;
    padding-bottom:10px;
    font-size: 12px;
    font-weight: bold;
    color: #CC0000;
}

/* @LOCATOR - BUBBLE
/* ---------------------------------------- */

#bubble {}

.activetab {
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="/w2gi/images/bubble/popover/active.png",sizingMethod="crop");
    background-image: url(/w2gi/images/bubble/popover/active.png);
    z-index: 101;
}

.nonactivetab {
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="/w2gi/images/bubble/popover/nonactive.png",sizingMethod="crop");
    background-image: url(/w2gi/images/bubble/popover/nonactive.png);
}

.tab1 {
    z-index: 101;
    width: 89px;
    height: 23px;
    position: absolute;
    left: 6px;
    top: 0px;
    border-style: none;
    padding: 0px;
    margin: 0px;
}

.tab1label {
    z-index:102;
    width: 89px;
    height: 23px;
    position: absolute;
    left: 6px;
    top: 0px;
    padding-top: 4px;
    font-size: 12px;
    font-weight: bold;
    font-family: 'Lucida Grande', LucidaGrande, Lucida, Helvetica, Arial, sans-serif;
    text-align: center;
    color: #5d6164;
    cursor: pointer;
}

.tab2 {
    width: 89px;
    height: 23px;
    position: absolute;
    left: 101px;
    top: 0px;
    border-style: none;
    padding: 0px;
    margin: 0px;
    z-index:101;
}


.tab2label {
    z-index:102;
    width: 89px;
    height: 23px;
    position: absolute;
    left: 101px;
    top: 0px;
    padding-top: 4px;
    font-size: 12px;
    font-weight: bold;
    font-family: 'Lucida Grande', LucidaGrande, Lucida, Helvetica, Arial, sans-serif;
    text-align: center;
    color: #5d6164;
    cursor: pointer;
}

.bubble_close {
    background: #FFFFFF url(/w2gi/images/bubble/popover/popover-close.gif) no-repeat;
    width: 12px;
    height: 10px;
    position: absolute;
    left: 175px;
    top: 10px;
    z-index: 101;
    border-style: none;
    padding: 0px;
    margin: 0px;
    cursor: pointer;
}

.mainbubble {
    width: 200px;
    height: 150px;
    position: absolute;
    left: 0px;
    top: 0px;
    border-style: none;
    padding: 0px;
    margin: 0px;
    display: inline-block;
}

.mainbubblecontent {
    height:142px;
    left:13px;
    position:absolute;
    top:10px;
    width:200px
}

.mainbubblelocationname {
    font-size:12px;
    font-weight:bold;
    padding-bottom:0.1em;
    padding-right:35px;
}

.mainbubbletabcontent {
    height:120px;
    margin-top:0.2em;
    overflow-x:hidden;
    overflow-y:auto;
    position:relative;
    width:200px;
}

.tab_content {
    font-size:10px;
}

.activetabcontent {
    display: block;
}

.nonactivetabcontent {
    display: none;
}

input.addressentry {
    font-size: 9px;
    color: #333333;
    width: 220px;
}

.address_helper {
    color: gray;
    font-size: 11px;
}

/* @LOCATOR - MAP/ICONS
/* ---------------------------------------- */

#map {
    float:  left;
    width:  272px;
    height: 282px;
    position: relative;
    border-left:1px solid #A0A0A0;
    border-right:1px solid #A0A0A0;
}

div.locator_map
{
    padding: 0;
    background-color: #FFFFFF;
}

.icon {
    position: relative;
    width: 33px;
    height: 28px;
}

.icon img {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 33px;
    height: 28px;
    cursor: pointer;
}

.icon div {
    position: absolute;
    top: 3px;
    left: 4px;
    width: 28px;
    font-size: 9px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    cursor: pointer;
}

#center_marker {
    width: 30px;
    height: 28px;
    cursor: default;
}

#center_marker img {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 30px;
    height: 28px;
    cursor: default;
}

#w2gi_copyright {
    position: absolute;
    right: 3px;
    bottom: 3px;
    text-decoration: none;
    font: bold 12px arial;
    background: transparent;
    z-index: 999;
    background: transparent none repeat scroll 0%;
    color: #000000;
}

#navteq_copyright {
    background: transparent none repeat scroll 0%;
    bottom: 3px;
    font-family: arial;
    font-size: 12px;
    font-size-adjust: none;
    font-stretch: normal;
    font-style: normal;
    font-variant: normal;
    font-weight: bold;
    left: 3px;
    line-height: normal;
    position: absolute;
    text-decoration: none;
    z-index: 999;
}

/* @LOCATOR - POI LIST
/* ---------------------------------------- */

#panel {
    height: 250px;
    overflow:   auto;
    width:  272px;
    border-top: 2px solid #F2F4F2;
    border-bottom: 2px solid #F2F4F2;
    background-color:   #FFFFFF;
}

#panel table {
    border-spacing: 0px;
    border-collapse: collapse;
    padding: 0px;
    margin: 0px;
}

#panel table th {
    padding: 2px;
    text-align: left;
    font-size: 12px;
}

#panel table th a[action="sort_table"] {
    text-decoration: none;
    color: #59595B;
    font-weight: bold;
    font-size: 12px;
}

#panel table th a[action="sort_table"]:hover {
    text-decoration: underline;
    color: #59595B;
    font-weight: bold;
    font-size: 12px;
}

#panel table thead tr.poi {
    background-color: #f8f8f8;
    height: 20px;
}

#panel table tfoot tr.poi {
    height: 20px;
    font-size: 10px;
    color: #a2afbf;
    padding-bottom: 0px;
    padding-top: 0px;
    border-top: 1px solid #a2afbf;
    background-color: #f8f8f8;
}

#panel table td {
    padding: 4px;
    margin: 0px;
    text-align: left;
    color: #333333;
    font-size: 11px;
    vertical-align: top;
}

#panel table td.maneuver {
    border-left: 1px solid #cccccc;
    border-right: 1px solid #cccccc;
    border-top: 1px solid #cccccc;
    padding: 5px;
}

#panel table .prev_results {
    float: left;
    text-decoration: none;
}

#panel table .next_results {
    float: right;
    text-decoration: none;
}

#panel table tr.odd {

}

#panel table tr.even {

}

#panel table tr.active {
    background-color: #ededed;
}

#panel table p {
    margin: 0px;
    padding: 0px;
}

a.store_name:link {
    text-decoration: none;
    color: #59595B;
    font-weight: bold;
    font-size: 12px;
}

a.store_name:visited {
    text-decoration: none;
    color: #59595B;
    font-weight: bold;
    font-size: 12px;
}

a.store_name:hover {
    text-decoration: underline;
    color: #000000;
    font-weight: bold;
    font-size: 12px;
}

a.store_name:active {
    text-decoration: none;
    color: #59595B;
    font-size: 12px;
}

a.next_results:link {
    text-decoration: none;
    color: #59595B;
    font-weight: bold;
    padding-left:5px;
    padding-right: 5px;
    text-align: right;
}

a.next_results:visited {
    text-decoration: none;
    color: #59595B;
    font-weight: bold;
    padding-left: 5px;
    padding-right: 5px;
    text-align: right;
}

a.next_results:hover {
    text-decoration: none;
    padding-left: 5px;
    padding-right: 5px;
    text-align: right;
}

a.next_results:active {
    text-decoration: none;
    color: #59595B;
    padding-left: 5px;
    padding-right: 5px;
    text-align: right;
}

a.prev_results:link {
    text-decoration: none;
    color: #59595B;
    font-weight: bold;
    padding-left: 5px;
    padding-right: 5px;
    text-align: right;
}

a.prev_results:visited {
    text-decoration: none;
    color: #59595B;
    font-weight: bold;
    padding-left: 5px;
    padding-right: 5px;
    text-align: right;
}

a.prev_results:hover {
    text-decoration: none;
    padding-left: 5px;
    padding-right: 5px;
    text-align: right;
}
a.prev_results:active {
    text-decoration: none;
    color: #59595B;
    padding-left: 5px;
    padding-right: 5px;
    text-align: right;
}

a[action="more_info"]:link {
    text-decoration: none;
    color: #59595B;
    font-weight: bold;
}

a[action="more_info"]:visited {
    text-decoration: none;
    color: #59595B;
    font-weight: bold;
}

a[action="more_info"]:hover {
    text-decoration: underline;
    color: #59595B;
    font-weight: bold;
}

a[action="more_info"]:active {
    text-decoration: none;
    color: #59595B;
    font-weight: bold;
}

a[action="show_all"]:link {
    text-decoration: none;
    color: #59595B;
    font-weight: bold;
}

a[action="show_all"]:visited {
    text-decoration: none;
    color: #59595B;
    font-weight: bold;
}

a[action="show_all"]:hover {
    text-decoration: underline;
    color: #59595B;
    font-weight: bold;
}

a[action="show_all"]:active {
    text-decoration: none;
    color: #59595B;
    font-weight: bold;
}

/* @LOCATOR - FOOTER
/* ---------------------------------------- */

div#w2gi_footer {
    font-size: 9px;
    padding: 10px;
}

div#powered_by {
    float: left;
}

div#navteqfooter {
    float: left;
    padding-left: 0px;
    padding-top: 5px;
    width:230px;
    text-align:left;
    font-size:9px;
    font-weight: normal;
    height:30px;
    margin-top:0px;
    color:#000;
}
