<footer id="footerWrapper" class="siteFooter">
						<!-- BEGIN Footer.jsp --><!-- BEGIN ContentRecommendation.jsp --><!-- eSpotName: "Footer" --><!-- BEGIN ContentRecommendation_UI.jspf -->
		<div id="contentRecommendationWidget_Footer" class="contentRecommendationWidget" data-ems-name="Footer">
			<!-- BEGIN Content_UI.jspf -->
						<style>
	
#footer {

}
#footer .global-footer {
	padding-bottom: 40px;
}
#footer .minMaxWidth {
	padding:0 20px;
	box-sizing: border-box;
}
#footer * {
	font-family: Klein Web;
}
#footer h4, 
#footer h5 {
	margin:0;
}
#footer a {
	text-decoration: none;
}
#footer .previousSignup {
	display: none;
}
#footer.prev-signup .previousSignup {
	display:block;
	opacity:1;
}
#footer.prev-signup .hide-success {
	display:none !important;
}
#footer .newsletter-social {
	text-align: center;
	background-color:#F3F3F6;
	padding:30px 0;
}
html.checkout #footer .newsletter-social {
	display: none;
}
#footer.prev-signup .newsletter-social .notSignupedUp,
#footer .newsletter-social .prevSignupedUp {
	display:none;
}
#footer .newsletter-social .notSignupedUp,
#footer.prev-signup .newsletter-social .prevSignupedUp {
	display: block;
}
#footer.prev-signup .newsletter-social .prevSignupedUp p {
	margin-bottom:0;
}
#footer .newsletter-social * {
	color:#4B4B4C;
}
#footer .newsletter-social h4 {
	color:#222222;
	font-size: 40px;
	line-height:40px;
	font-weight: 600;
	margin:0;
	letter-spacing: -0.5px;
}
#footer .newsletter-social p {
	font-size: 18px;
	line-height:30px;
	color:#4B4B4C;
}

#footer .newsletter-social .newsletter-form,
#footer .newsletter-social .privacy-check {
	max-width: 480px;
	width:100%;
	min-height:40px;
	margin:0 auto;
	position: relative;
}
#footer .newsletter-social .newsletter-form.success {
	margin-bottom:30px;
}
#footer.prev-signup .newsletter-social .newsletter-form {
	margin-bottom:10px;
}
#footer .newsletter-social .privacy-check {
	height:auto;
	border:none;
	margin-top:30px;
	margin-bottom:60px;
}

#footer .newsletter-social .privacy-check #agreeFooter {
	margin:5px 8px 0 0;
	float:left;
}
#footer .newsletter-social .privacy-check .checkboxErrorFooter + p,
#footer .newsletter-social .privacy-check .checkboxErrorFooter + p a {
	color:#ff0000;
}
#footer .newsletter-social .privacy-check p {
    width: calc(100% - 28px);
    float: right;
    padding: 0;
    margin: 0;
    text-align: left;
    font-size:14px;
    line-height:20px;
	font-weight: 400;
}
#footer .newsletter-social .privacy-check p a,
#footer a.learn-more {
	text-decoration: underline;
}
#footer .newsletter-social input.signUpEmail,
#footer .newsletter-social #cmSignUpNew {
	background:transparent;
	border:none;
	height:40px;
	font-size:18px;
	font-weight: 400;
	line-height:40px;
	display: block;
	padding:0;
}
#footer .newsletter-social input.signUpEmail,
#footer .newsletter-social input.signUpEmail::placeholder,
#footer .newsletter-social #cmSignUpNew {
	color:#4B4B4C;
}
#footer .newsletter-social input.signUpEmail {
	text-align: left;
	width: 100%;
	border-bottom:1px solid #9F9FA1;
	outline:none;
	padding-right:60px;
	box-sizing: border-box;
}
#footer .newsletter-social input.signUpEmail:-webkit-autofill,  
#footer .newsletter-social input.signUpEmail:-webkit-autofill:hover,  
#footer .newsletter-social input.signUpEmail:-webkit-autofill:focus {
	-webkit-box-shadow: 0 0 0 30px transparent inset !important;
	box-shadow: 0 0 0 30px transparent inset !important;
}
#footer .newsletter-social #cmSignUpNew {
	position: absolute;
	right:0;
	top:0;
	text-align:right;
	width: 65px;
}
#footer .newsletter-social #fieldErrorMessage {
	font-size:16px;
	line-height:16px;
	color:#FF0000 !important;
	text-align: left;
	margin-top:15px;
}
#footer .newsletter-social .footerPageSuccessMessage,
#footer.prev-signup .previousSignup {
	opacity: 0;
	transition: opacity 500ms ease;
	height: 60px;
	line-height:60px;
	font-size:18px;
}
#footer .newsletter-social .footerPageSuccessMessage.show {
	opacity:1;
}
#footer .newsletter-social .social-connect {
	display: inline-block;
}
#footer .newsletter-social .social-connect a {
	display: block;
	float:left;
	height:24px;
	margin:0 17px;
}
#footer .newsletter-social .social-connect a img {
	height: 100%;
	width: auto;
}
#footer .footer-links {
	margin:50px 0 90px;
}
#footer .footer-links .footer-links-col {
	float:left;
	width:20%;
}
#footer .footer-links .footer-links-col h5 {
	font-size:15px;
	line-height:15px;
	font-weight: 600;
	padding-bottom:15px;
}
#footer .footer-links .footer-links-col .footer-link, 
#footer .footer-links .footer-links-col p {
	display: table;
	font-size:14px;
	line-height:14px;
	margin:15px 0 30px;
	position:relative;
	color:rgba(0,0,0,0.6);;
}
#footer .footer-links .footer-links-col p {
	display:inline;
	line-height:25px;
}
#footer .global-websites {
	margin-top:60px;
}
#footer .global-websites .dropKickWrapper,
#footer .global-websites .dk_container {
	width: 100%;

}
#footer .global-websites .dk_container {
	border-top:none;
	border-left:none;
	border-right:none;
    border-bottom: 1px solid #e5e5e5;
    border-radius: 0;
	text-transform: inherit;
	font-size: 14px;
	font-weight:400;
}
#footer .global-websites .dk_container,
#footer .global-websites .dk_container .dk_toggle {
	height:30px;
}
#footer .global-websites .dk_label {
	display: inline-block;
	width: 100%;
	height:100%;
	line-height:30px;
}
#footer .global-websites .dk_container .dk_label:after {
	float:right;
	margin-right:0;
	margin-top:10px;
}
#footer .global-websites .dk_toggle:after {
	display:none !important; 
}
#footer .global-websites .dk_options {
	top:0 !important;
}
#footer .global-websites .dk_options,
#footer .global-websites .dk_options_inner {
	max-height: 240px;
}
#footer .global-websites .dk_container .dk_toggle {
	padding:0;
	cursor: pointer;
}
#footer .global-websites .dk_options_inner li {
	height:40px;
	line-height:40px;

}
#footer .global-websites .dk_options_inner li a,
#footer .global-websites .dk_container .dk_toggle {
	cursor: pointer;
}
#footer .global-websites .dk_options_inner li a {
	padding-top: 0;
    padding-bottom: 0;
}
#footer .global-websites .dk_options_inner li a:hover,
#footer .global-websites .dk_option_current a {
	background-color:rgba(0,0,0,0.05);
	text-decoration: none !important;
}
#footer .footer-links .footer-links-col a.footer-link:hover::after,
#footer .footer-legal .legal-links a:hover::before {
	content:'';
	height:1px;
	width: 100%;
	background:rgba(0,0,0,0.6);
	position: absolute;
	bottom:-3px;
	left:0;
}
#footer .footer-legal * {
	font-size:14px;
	line-height:14px;
}
#footer .footer-legal .footer-logo {
	width:172px;
}
#footer .footer-legal .legal-links,
#footer .footer-legal .webid-copyright {
	color:rgba(0,0,0,0.6);
	font-weight: 400;
}
#footer .footer-legal .legal-links {
	margin-top:30px;
}
#footer .footer-legal .webid-copyright {
	margin-top:20px;
}
#footer .footer-legal .webid-copyright * {
	float:left;
}	
#footer .footer-legal .legal-links a {
	float:left;
	position: relative;
}
#footer .footer-legal  span.divider {
    float: left;
    margin:0 20px;
}
#footer .footer-legal  span.divider:last-child {
	display: none;
}


#footer #backToTop {
    color: #000;
    background: rgba(255,255,255,.7);
    border: 1px solid #CCC;
    position: fixed;
    right: 20px;
    bottom: 20px;
    opacity: 0;
}

#footer a.back-to-top {
    font-size: 14px;
    text-decoration: none !important;
    display: inline-block;
    font-weight: 400;
    cursor: pointer;
}
#footer #backToTop span {
    font-weight: 500;
    font-size: 13px;
    color: #000;
    letter-spacing: 0.2px;
    line-height: 25px;
    font-family: Klein Web Condensed;
    padding: 10px !important;
    height: auto;
}

html.mobile #footer .newsletter-social h4 {
	font-size:30px;
	line-height:30px;
}
html.mobile #footer .footer-links .footer-links-col h5,
html.mobile #footer .newsletter-social p {
	font-size: 16px;
}
html.mobile #footer .newsletter-social p {
	line-height:20px;
}
html.mobile #footer .footer-links {
	margin:0 0 40px;
}
html.mobile #footer .footer-links .footer-links-col {
	width: 100%;
	height: 40px;
	overflow: hidden;
	float:none;
	border-bottom:rgba(0,0,0,0.2) solid 1px;
	padding:5px 0;
	transition: all 500ms ease;
}
html.mobile #footer .newsletter-social {
	padding: 36px 0 40px;
}
html.mobile #footer .newsletter-social .footerPageSuccessMessage, 
html.mobile #footer.prev-signup .previousSignup {
	font-size:16px;
}
html.mobile #footer .newsletter-social .social-connect a {
	margin: 0 5.737vw;
}
html.mobile #footer.prev-signup .newsletter-social .newsletter-form {
	margin-bottom:0;
}
html.mobile #footer .newsletter-social input.signUpEmail, 
html.mobile #footer .newsletter-social #cmSignUpNew {
	font-size:16px;
}
html.mobile #footer .newsletter-social .privacy-check p {
	font-size:13px;
}
html.mobile #footer .newsletter-social .privacy-check {
	margin-bottom: 40px;
}
html.mobile #footer .footer-links .footer-links-col h5 {
	font-size:14px;
}
html.mobile #footer .footer-links .footer-links-col a::after,
html.mobile #footer .pipe	{
	display:none;
}
html.mobile #footer .footer-links .footer-links-col #country-selector {
	margin-top:10px;
}
html.mobile #footer .footer-links .footer-links-col.transparency {
	height: auto;
	border-bottom:0;
}
html.mobile #footer .footer-links .footer-links-col h5,
html.mobile #footer .footer-links .footer-links-col .footer-link {
	display: block;
	margin:0;
	padding:0;
	height:40px;
	line-height:40px;
}
html.mobile #footer .footer-links .footer-links-col h5:after {
    padding: 5px;
    content: '';
    background: url(//media1.calvinklein.com/images/static/e-comm19-6/icons/dropDownArrow.png) top center no-repeat;
    background-size: 12px 8px;
    display: inline-block;
    position: relative;
    top: 15px;
    margin-right: 10px;
    float: right;
}
html.mobile #footer .footer-links .footer-links-col.open h5:after {
	transform: rotate(-180deg);
}
html.mobile #footer .footer-links .footer-links-col.transparency h5:after {
	display: none;
}
html.mobile #footer .footer-links .footer-links-col .footer-link {
	pointer-events: none;
}
html.mobile #footer .footer-links .footer-links-col.open .footer-link {
	pointer-events: auto;
}
html.mobile #footer .global-websites {
	margin-top:0;
}
html.mobile #footer .footer-legal .footer-logo {
	width: 122px;
}
html.mobile #footer .footer-legal .legal-links a,
html.mobile #footer .footer-legal .legal-links span.divider {
	display: inline;
	float:none;
}
html.mobile #footer .footer-legal * {
	font-size:12px;
	line-height: 20px;
}
html.mobile #footer .footer-legal .legal-links span.divider {
    margin: 0 10px;
}
html.mobile #footer .footer-legal .legal-links span.divider:last-child {
	display: none;
}


</style>

<div id="footer"> 

	<div class="global-footer">
		
		<div class="newsletter-social">

			<div class="minMaxWidth">
				<!--<div class="notSignupedUp">
					<h4>Keep In Touch</h4>
					<p>Sign up for news on our latest arrivals, exclusive <br class="desktop">
					promotions + events.</p>
				</div>-->
				<div class="notSignupedUp">
					<h4>Let's Connect</h4>
					<p>Follow us to discover new campaigns, <br class="desktop">
					fresh arrivals, and exclusive offers.</p>
				</div>
					
				<!--<div class="newsletter-form signup-input-container clearfix">
					<input id="signUpEmailFooter" class="signUpEmail hide-success" name="SignUp" placeholder="Enter your email" autocomplete="off" aria-label="Enter your email">
					<a id="cmSignUpNew" class="hide-success" onclick="javascript:invokeService(true);">Sign up</a>
			    </div>

				<div class="privacy-check hide-success clearfix">
					<input id="agreeFooter" maxlength="50" name="email-consent" type="checkbox" value="" aria-labelledby="newsletterSubtextFooter">
					<p>I would like to receive updates on the latest products and promotions via email or other channels. Please see our <a onclick="javascript:CKOverlay.open('LoyaltyTermsConditions');" role="button" tabindex="0" data-ae-blurbtype="button">Privacy Policy</a> for more information.</p>
				</div>-->
				

				<div class="social-connect">
					<a href="https://twitter.com/calvinklein" target="_blank" title="Subscribe to Calvin Klein on Twitter" aria-describedby="audioeye_new_window_message">
						<img src="//media1.calvinklein.com/images/static/e-comm19-3/social/footer/3/Twitter.svg" alt="Subscribe to Calvin Klein on Twitter">
					</a>
					<a href="https://facebook.com/calvinklein" target="_blank" title="Subscribe to Calvin Klein on Facebook" aria-describedby="audioeye_new_window_message">
						<img src="//media1.calvinklein.com/images/static/e-comm19-3/social/footer/3/Facebook.svg" alt="Subscribe to Calvin Klein on Facebook">
					</a>
					<a href="https://instagram.com/calvinklein" target="_blank" title="Subscribe to Calvin Klein on Instagram" aria-describedby="audioeye_new_window_message">
						<img src="//media1.calvinklein.com/images/static/e-comm19-3/social/footer/3/Instagram.svg" alt="Subscribe to Calvin Klein on Instagram">
					</a>
					<a href="https://www.pinterest.com/calvinklein" target="_blank" title="Subscribe to Calvin Klein on Pinterest" aria-describedby="audioeye_new_window_message">
						<img src="//media1.calvinklein.com/images/static/e-comm19-3/social/footer/3/Pinterest.svg" alt="Subscribe to Calvin Klein on Pinterest">
					</a>
					<a href="https://youtube.com/calvinklein" target="_blank" title="Subscribe to Calvin Klein on Youtube" aria-describedby="audioeye_new_window_message">
						<img src="//media1.calvinklein.com/images/static/e-comm19-3/social/footer/3/Youtube.svg" alt="Subscribe to Calvin Klein on Youtube">
					</a>
				</div>

			</div>

		</div><div class="covid-footer" style="display: block;">COVID-19 Information <a href="https://www.calvinklein.us/en/covid-19-information">View here<span style="display: none;" class="ae-compliance-indent ae-reader-visible"> for Calvin Klein on COVID-19 </span><span style="display: none;" class="ae-compliance-indent ae-reader-visible"> for Covid-19 information </span></a>
</div>

		<div class="footer-links">

			<div class="minMaxWidth clearfix">
			
				<div class="footer-links-col expand">
					<h5>Customer Service</h5>
					<a href="https://www.calvinklein.us/en/customerservice/help-contactus" class="footer-link">FAQs</a>
					<a href="https://www.calvinklein.us/TrackYourOrderView?catalogId=12101&amp;langId=-1&amp;storeId=10751" class="footer-link">Order Status</a>
					<a href="https://www.calvinklein.us/en/customerservice/returns" class="footer-link">Returns</a>
					<a href="https://www.calvinklein.us/en/customerservice/shipping" class="footer-link">Shipping</a>
					<a href="https://www.calvinklein.us/en/preferred-loyalty-program" class="footer-link">Preferred Loyalty Program</a>
					<a href="https://www.calvinklein.us/en/calvin-klein-coupons" class="footer-link">Coupons</a>
					<a href="https://www.calvinklein.us/en/store-locator" class="footer-link">Store Locator</a>
					<a href="https://www.calvinklein.us/en/customerservice/accessibility" class="footer-link">Accessibility</a>
				</div>
				<div class="footer-links-col expand">
					<h5>Explore</h5>
					<a href="https://www.calvinklein.us/en/new-arrivals-womens-mens-clothing" class="footer-link">New Arrivals</a>
					<a href="https://www.calvinklein.us/en/shop-the-campaign" class="footer-link">Shop The Campaign</a>
					<a href="https://www.calvinklein.us/en/jeans" class="footer-link">Calvin Klein Jeans</a>
				</div>
				<div class="footer-links-col expand">
					<h5>About</h5>
					<a href="https://www.calvinklein.us/en/about-us" class="footer-link">About Calvin Klein</a>
					<a href="https://careers.pvh.com/calvinklein/global/en" target="_blank" class="footer-link" aria-describedby="audioeye_new_window_message">Careers</a>
					<a href="https://www.calvinklein.us/en/student-discount" class="footer-link">10% Student Discount</a>
					<a href="https://www.calvinklein.us/en/privacy-commitment" class="footer-link">Privacy Commitment</a>
					<!--<a href="https://responsibility.pvh.com" target="_blank" class="footer-link">Corporate Responsibility</a>-->
				</div>
				<div class="footer-links-col expand">
					<h5>Need help?</h5>
					<a href="https://help.calvinklein.com/s/brand-form" target="_blank" class="footer-link" aria-describedby="audioeye_new_window_message">Contact Us</a>
					<span class="footer-link">Call Us: <a href="tel:866.513.0513" class="mobile">866.513.0513</a><span class="desktop">866.513.0513</span>
					</span>
					
				</div>
				<div class="footer-links-col transparency">
					<h5>Transparency, accountability &amp; security</h5>
					<p>We are committed to your privacy. Learn more about the steps we’re taking to protect the information and privacy of the millions of people we connect with every day. <br>
						<a href="https://www.calvinklein.us/en/privacy-commitment" class="learn-more">Learn More</a></p>

					<!--<div class="global-websites expand">
						<h5>Our global websites</h5>
						<div class="dropKickWrapper clearfix"><div class="dk_container dk_theme_default" id="dk_container_country-selector" tabindex="0" role="button" aria-labelledby="dk_selected" aria-haspopup="listbox"><a id="dk_selected" class="dk_toggle" aria-atomic="true" aria-haspopup="listbox"><span class="dk_label">United States</span></a><div class="dk_options" aria-labelledby="dk_selected" tabindex="0" role="listbox" aria-activedescendant="dk_option_current"><ul class="dk_options_inner" aria-controls="dk_selected" style=""><li class="dk_option_current" id="dk_option_current" role="option"><a data-dk-dropdown-value="" role="button" tabindex="0" data-ae-blurbtype="button">United States</a></li><li class="" id="" role="option"><a data-dk-dropdown-value="https://www.calvinklein.com.br/" role="button" tabindex="0" data-ae-blurbtype="button">Brazil</a></li><li class="" id="" role="option"><a data-dk-dropdown-value="https://www.calvinklein.ca/" role="button" tabindex="0" data-ae-blurbtype="button">Canada</a></li><li class="" id="" role="option"><a data-dk-dropdown-value="https://www.calvinklein.cl/" role="button" tabindex="0" data-ae-blurbtype="button">Chile</a></li><li class="" id="" role="option"><a data-dk-dropdown-value="https://www.calvinklein.cn" role="button" tabindex="0" data-ae-blurbtype="button">China</a></li><li class="" id="" role="option"><a data-dk-dropdown-value="https://www.calvinklein.fr/" role="button" tabindex="0" data-ae-blurbtype="button">France</a></li><li class="" id="" role="option"><a data-dk-dropdown-value="https://www.calvinklein.de/" role="button" tabindex="0" data-ae-blurbtype="button">Germany</a></li><li class="" id="" role="option"><a data-dk-dropdown-value="https://www.calvinklein.com/hk" role="button" tabindex="0" data-ae-blurbtype="button">Hong Kong SAR</a></li><li class="" id="" role="option"><a data-dk-dropdown-value="https://www.calvinklein.it/" role="button" tabindex="0" data-ae-blurbtype="button">Italy</a></li><li class="" id="" role="option"><a data-dk-dropdown-value="https://www.calvinklein.com/jp/ja/home" role="button" tabindex="0" data-ae-blurbtype="button">Japan</a></li><li class="" id="" role="option"><a data-dk-dropdown-value="https://www.calvinklein.mx/" role="button" tabindex="0" data-ae-blurbtype="button">Mexico</a></li><li class="" id="" role="option"><a data-dk-dropdown-value="https://www.calvinklein.ru/" role="button" tabindex="0" data-ae-blurbtype="button">Russia</a></li><li class="" id="" role="option"><a data-dk-dropdown-value="https://www.calvinklein.com/kr/ko/home" role="button" tabindex="0" data-ae-blurbtype="button">South Korea</a></li><li class="" id="" role="option"><a data-dk-dropdown-value="https://www.calvinklein.es/" role="button" tabindex="0" data-ae-blurbtype="button">Spain</a></li><li class="" id="" role="option"><a data-dk-dropdown-value="https://www.calvinklein.com/tw/zh/home" role="button" tabindex="0" data-ae-blurbtype="button">Taiwan</a></li><li class="" id="" role="option"><a data-dk-dropdown-value="https://www.calvinklein.co.uk" role="button" tabindex="0" data-ae-blurbtype="button">United Kingdom</a></li></ul></div></div><select id="country-selector" class="hidden" aria-label="United States">
							<option value="" selected="selected">United States</option>
			                <option value="https://www.calvinklein.com.br/">Brazil</option>
			                <option value="https://www.calvinklein.ca/">Canada</option>
                            <option value="https://www.calvinklein.cl/">Chile</option>
			                <option value="https://www.calvinklein.cn">China</option>
			                <option value="https://www.calvinklein.fr/">France</option>
			                <option value="https://www.calvinklein.de/">Germany</option>
			                <option value="https://www.calvinklein.com/hk">Hong Kong SAR</option>
			                <option value="https://www.calvinklein.it/">Italy</option>
			                <option value="https://www.calvinklein.com/jp/ja/home">Japan</option>
			                <option value="https://www.calvinklein.mx/">Mexico</option>
			                <option value="https://www.calvinklein.ru/">Russia</option>
			                <option value="https://www.calvinklein.com/kr/ko/home">South Korea</option>
			                <option value="https://www.calvinklein.es/">Spain</option>
			                <option value="https://www.calvinklein.com/tw/zh/home">Taiwan</option>
			                <option value="https://www.calvinklein.co.uk">United Kingdom</option>
						</select></div>
					</div>-->
				</div>


			</div>

		</div>


		<div class="footer-legal">

			<div class="minMaxWidth">
				<svg width="190px" height="29px" viewBox="0 0 190 29" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" labelledby="logoTitle" role="img" class="footer-logo">
					<title id="logoTitle">Calvin Klein</title>
						<g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
							<g transform="translate(-733.000000, -317.000000)" fill="#000000">
								<g transform="translate(733.000000, 317.000000)">
									<path d="M81.85,5.45h-3V2h3Zm0,23.06h-3V8.88h3Z"></path>
									<path d="M88.34,28.51H85.4V8.88h2.94v3.29A6.26,6.26,0,0,1,94.5,8.43c5.49,0,8.06,4,8.06,9V28.51h-3v-11c0-3.69-2-6.27-5.56-6.27s-5.68,2.65-5.68,6.42Z"></path>
									<path d="M119.7,15.68l-3.55,4v8.84H112.9V.52h3.25V15.45L129.29.52h3.88L121.94,13.18l11.23,15.33h-3.73Z"></path>
									<path d="M137.8,28.51h-3V0h3Z"></path>
									<path d="M150.6,29a9.9,9.9,0,0,1-10-10.26,9.93,9.93,0,0,1,9.93-10.27c5.74,0,10,4.6,9.89,11H143.58a7.2,7.2,0,0,0,13.63,2.76h2.95A9.61,9.61,0,0,1,150.6,29Zm-6.83-12.13h13.47a6.66,6.66,0,0,0-6.71-5.67A6.85,6.85,0,0,0,143.77,16.83Z"></path>
									<path d="M166.28,5.45h-3V2h3Zm0,23.06h-3V8.88h3Z"></path>
									<path d="M172.77,28.51h-3V8.88h3v3.29c.37-1.09,2.09-3.74,6.16-3.74,5.49,0,8.06,4,8.06,9V28.51h-3v-11c0-3.69-2-6.27-5.57-6.27s-5.67,2.65-5.67,6.42Z"></path>
									<path d="M3.36,14.56C3.36,21.09,8.06,26,14.22,26a10.36,10.36,0,0,0,9.48-5.3H27C26.13,23.36,22.24,29,14.22,29S0,22.88,0,14.52A14.09,14.09,0,0,1,14.22,0c8,0,11.91,5.52,12.8,8.39H23.66a10.46,10.46,0,0,0-9.44-5.37C8.06,3.06,3.36,8,3.36,14.56Z"></path>
									<path d="M38.63,29a10,10,0,0,1-10-10.26,10,10,0,0,1,10-10.27,7.61,7.61,0,0,1,7.13,4.15V8.88h3V28.51h-3V24.82A7.61,7.61,0,0,1,38.63,29ZM45.8,18.7c0-4.22-3-7.47-7.06-7.47s-7.09,3.21-7.09,7.47,3,7.46,7.09,7.46S45.8,22.92,45.8,18.7Z"></path>
									<path d="M55.24,28.51h-3V0h3Z"></path>
									<polygon points="66.96 25.49 73.19 8.88 76.44 8.88 68.83 28.52 65.09 28.52 57.48 8.88 60.73 8.88 66.96 25.49"></polygon>
								</g>
							</g>
						</g>
					</svg>

				<!--<img src="//media1.calvinklein.com/images/ck-logo-footer.png" class="footer-logo" />-->

				<div class="legal-links clearfix">
					<a href="https://www.pvh.com/ca-transparency-disclosure" target="_blank" aria-describedby="audioeye_new_window_message">CA Transparency In Supply Chain &amp; UK Modern Slavery Statement</a>
					<span class="divider">|</span>
					<a href="https://www.calvinklein.us/en/customerservice/privacy#privacyComt">Privacy Policy</a>
					<span class="divider">|</span>
					<a href="https://www.calvinklein.us/en/customerservice/privacy#howWeUseInfo">Interest Based Ads</a>
					<span class="divider">|</span>
					<a href="#" onclick="utag.gdpr.showConsentPreferences()">Do Not Sell My Personal Information</a>
					<span class="divider">|</span>
					<a href="https://www.calvinklein.us/en/customerservice/privacy">Terms &amp; Conditions</a>
				</div>

				<div class="webid-copyright">
					<span id="forterWebId">Web ID: 580923522</span> 
					<br class="mobile">
					<span class="divider pipe">|</span>
					<span>Copyright © 2020 Calvin Klein. All rights reserved.</span>
				</div>

			</div>

		</div>


	</div>

	<div id="backToTop" style="visibility: inherit; opacity: 1; position: absolute; top: -65px; bottom: auto;"> 
        <a class="back-to-top" role="button" tabindex="0" data-ae-blurbtype="button"> <span>TOP</span> </a> 
    </div>
</div>





<!--<script>


	var CKFooter = CKFooter || {

		init:function() {

			CKFooter.ifPrevSignup();
			CKFooter.globalSiteSelect();

			/* RUN MOBILE FUNCTIONS */
			if(U.isMobile()) {
				CKFooter.relocateMobileElements();
			}

			if(!U.isMobile()) {
				/* Apply Dropkick to country selector */
				$("#footer #country-selector").dropkick();
			}
			
		},

		ifPrevSignup:function() {

			/* IF ALREADY SIGNED UP OR LOGGED IN */

			var loggedIn = $('#headerLogin').length;

			if($.cookie('footerNewsletterSignedUp') || !loggedIn) {
				$('#footer').addClass('prev-signup');
			} else {
				CKFooter.checkForSuccess();
			}
			
		},

		checkForSuccess:function() {

			/* CHECK FOR SUCCESSFUL SIGNUP & SET COOKIE */

			var $successMessage = 'footerPageSuccessMessage';
			var $hideSuccess = $('.hide-success');
			var $newsletterForm = $('.newsletter-form');

			$(document).on('DOMNodeInserted', function(e) {

				if($(e.target).hasClass($successMessage)) {

					$hideSuccess.addClass('hidden');
					$newsletterForm.addClass('success');

					setTimeout(function() {
						$('.'+$successMessage).addClass('show');
					},100);

					$.cookie("footerNewsletterSignedUp", "true", {
						path: '/',
						expires: 365
					});
				}
			});
		},


		globalSiteSelect:function() {

			$('select#country-selector').change(function() {

				var $this = $(this);
				var selectedCountry = $(this)
					.children("option:selected").attr('value');

				window.location.href = selectedCountry;

			});
		},

		relocateMobileElements:function() {

			var $linkColClass = '.footer-links-col';

			/* MOVE GLOBAL SELECT DROPDOWN TO ACCORDION */

			$($linkColClass).find('.global-websites')
				.addClass('footer-links-col expand')
					.insertBefore('.footer-links-col.transparency');

			/* RUN MOBILE ACCORDIAN FUNCTION */
			CKFooter.mobileAccordion($linkColClass);


			var select = $('#footer select');

			select.find('option').each(function() {
				var $this = $(this);
				var href = $this.attr('value');
				var text = $this.text();
				$this.remove();

				$('<a href="'+href+'" class="footer-link">'+text+'</a>')
					.appendTo(select.parent('div'));
			});

			select.remove();

		},

		mobileAccordion:function($linkColClass) {

			/* SET EVENT HANDLER FOR ACCORDIONS */

			var $linkCol = $($linkColClass+'.expand');
			var $footerLink = $linkCol.find('.footer-link');
			var $heading = $linkCol.find('h5');
			var openClass = 'open';
			

			$heading.on('click', function() {

				var $this = $(this);
				var $parent = $this.parent($linkCol);

				$linkCol.removeAttr('style');

				if($parent.hasClass(openClass)) {

					$linkCol.removeClass(openClass);

				} else {

					var height = 0;

					$this.parent($linkCol).find('> *').each(function() {
						height = height+$(this).outerHeight();
					});

					$this.parent($linkCol).height(height);

					$($linkCol).removeClass(openClass);
					$parent.addClass(openClass);

				}

			});

		}

	}

	$(function() {
		CKFooter.init();
	});
</script>-->




					<!-- END Content_UI.jspf -->
		</div>
	<!-- END ContentRecommendation_UI.jspf --><!-- END ContentRecommendation.jsp --><!-- Footer info --><!-- 09/24/2020 08:15:176 -->
<!--Display Name : Chennai --><!-- END Footer.jsp -->
					</footer>